* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cookie-container{
    background: linear-gradient(to right top, #7f5006, #825604, #845c03, #866302, #876901);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: white;
    display: flex;
    width: 40rem;
    height: 10rem;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    overflow: hidden;
}

.cookie{
    padding-right: 1rem;
}
.cookie-title{
    font-size: 2rem;
    font-weight: lighter;
}

.cookie-subtitle{
    font-weight: bold;
    font-size: 1rem;
    padding: 0.4rem 0rem;
}

button{
    border-style: none;
    padding: 1rem 1.5rem;
    color: #7f5006;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    
}